body{
    
}
#home .primary {
    font-size: 20px;

}

#home p {
    color: darkmagenta;
    font-size: 10px;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.container ul{
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.container ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 66px;
    color: red;
}
.container ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 2px;
    margin: 6px;
    text-decoration: none;
    color: white;
}
#home .btn {
    border-radius: 2px;
}

.box{
    width: 299px;
}
.box1{
    width: 299px;
}
.box2{
    width: 299px;
}

.boxy1{
    width: 299px;
}
.boxy2{
    width: 299px;
}
.boxy3{
    width: 299px;
}

.clients h1.primary3{
    margin-left: 10px;
}