body{

    height:2500px
}
.logo img{
    display: flex;
    align-items: center;
    padding-left: 0px;
    width: 66px;
    height: 80px;
}
ul{
    padding-left: 0px;
}
.container ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}
navbar{

}

#services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: centre;
}

.clients{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: centre;
}
.clients::before{
    top: 1869px;
    left: 0;
    content: "";
    height: 1124px;
}

.contact::before{
    top: 3006px;
    left: 0;
    content: "";
    height: 436px;
    width: 100%;
}

.boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: centre;
}
#home .primary {
    font-size: 32px;
}
h1.primary2{
    width: 88.5%;
    margin-left: 4%;
}
h1.primary3{
    margin-left: 0px;
    padding-left: 0px;
}

.services-container{
    margin-left: auto;
}

footer{
    display: flex;
    flex-direction: row;
}
